#root {
  margin: 0 auto;
  text-align: left;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html, body, #root {
  background-color: #fafafa;
}


@media screen and (max-width: 600px) {
	html, body, #root {
		font-size: 14px;
	}
}
