.btn-primary {
	background-color: #2284d4 !important;
	border-color: #2284d4 !important;
}

.btn-primary:hover {
	background-color: #1572bf !important;
	border-color: #1572bf !important;
}

.btn-info {
	background-color: #32afd1 !important;
	border-color: #32afd1 !important;
	color: white !important;
}

.btn-info:hover {
	background-color: #239fc2 !important;
	border-color: #239fc2 !important;
	color: white !important;
}

.btn-html {
	background-color: #9c2ade !important;
	border-color: #9c2ade !important;
	color: white !important;
}

.btn-html:hover {
	background-color: #8716c7 !important;
	border-color: #8716c7 !important;
	color: white !important;
}

.abstract {
	color: black;
}

/* Changes for mobile */
@media screen and (max-width: 600px) {
  .action-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .action-buttons a {
  	margin-right: 0px !important;
	width: 180px;
	padding-top: 9px;
	padding-bottom: 9px;
  }

  .action-buttons button {
  	margin-right: 0px !important;
	width: 180px;
	height: 45px;
  }
}
