@font-face {
  font-family: 'NotoSerif-Medium';
  src: url('../assets/fonts/NotoSerif/NotoSerif-Medium.ttf') format('truetype');
}

.title {
  font-family: NotoSerif-Medium;
  font-size: 26px;
}

.header {
  background: #003866;
  font-size: 18px;
}
