.btn-square {
    width: 30px !important;
    height: 30px !important;
    padding: 0 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.additional-authors {
    margin-left: 8px;
    padding: 1px 6px 3px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f0f0f0;
    font-size: smaller;
}
